@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");


* {
    margin: 0;
    padding: 0;
    font-family: "Golos Text", sans-serif;
    box-sizing: border-box;
}


body {
    position: relative;
}


header {
    background-image: url("../img/backgroundimg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;
    color: #dcdcdc;
    text-align: center;
    position: relative;
    overflow: hidden;
}


footer {
    font-size: 20px;
    background-color: #b4babd;
    padding: 5%;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 20%;
}


img {
    width: 324px;
    height: 390px;
    margin-left: 5%;
    border-radius: 8px;
}


span {
    text-align: center;
    color: #21909E;
}


span:hover {
    text-decoration: underline 4px #21909E;
}


a {
    text-decoration: none;
    color: #dcdcdc;
}


main {
    padding: 5%;
    gap: 5%;
}

.container-header {
    padding-bottom: 20%;
}

.size-icone-insta {
    margin: 0px 0px 0px;
    padding: 0px;
}


#icone-insta {
    height: 4%;
    width: 8%;
}


.container-menu {
    display: flex;
}

.container-menu2 {
    display: flex;
    background-color: #21909E;
    width: 100%;
    height: 50%;
}

.menu-horizontal {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}


.menu-horizontal li {
    margin: 0 15px;
}


.menu-horizontal a {
    text-decoration: none;
    color: #fffefe;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}


.botton-test {
    font-size: 30px;
    border-radius: 20px 0 20px 0;
    padding: 1% 3%;
    background-color: #21909E;
    border: none;
    cursor: pointer;
    color: #fffefe;
}


.botton-test:hover {
    text-decoration: underline 4px #fffefe;
    border: solid 4px #fffefe;
}


#link-address {
    color: #000;
}


#link-address:hover {
    text-decoration: underline black 1px;
}


.logomarca {
    margin: 15px;
    display: flex;
    width: 40%;
    height: 80%;
}


#titulo-background {
    font-size: 50px;
    position: relative;
    top: 20%;
    color: #dcdcdc;
}


#paragraph-background {
    font-size: 20px;
    color: #fffefe;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    font-style: bold;
    position: relative;
    top: 20%;
}


.card {
    margin-top: 5%;
    margin: 0px;
    margin-left: 10%;
    gap: 10%;
    height: 10%;
    width: 20%;
    display: inline;
    margin-bottom: 5%;
    position: relative;
    
}


.text {
    position: absolute;
    padding-top: 10%;
}


#titulo-background:hover {
    text-decoration: underline 4px #085992;
}


#paragraph-background:hover {
    text-decoration: underline 4px #085992;
}


/* * {
    border: red solid 1px;
} */